:root {
  --clr-green-800: #354f31;
  --clr-green-500: #4e7747;
  --clr-green-400: #689361;
  --clr-green-100: #e7eddd;

  --clr-red-800: #7b4452;
  --clr-red-600: #a1586a;
  --clr-red-400: #c56a81;
  --clr-red-100: #f2e9eb;

  --clr-yellow-800: #8d5f20;
  --clr-yellow-600: #e09731;
  --clr-yellow-500: #ffb753;
  --clr-yellow-400: #ffc575;
  --clr-yellow-100: #ffebd2;

  --clr-black: #151515;

  --clr-gray-900: #535353;
  --clr-gray-700: #b5b5b5;
  --clr-gray-500: #d8d8d8;
  --clr-gray-300: #eeeeee;
  --clr-gray-100: #f5f5f5;

  --clr-white: #ffffff;
}
