:root {
  --hover-transition: all ease 0.15s;

  --border-radius-sm: 3px;
  --border-radius-md: 5px;

  --input-width-md: 18.75rem;
  --input-width-lg: 25rem;
  --input-width-xl: 37.5rem;

  --logo-width-md: 8.75rem;

  --container-width-md: 62.5rem;
  --container-width-lg: 75rem;
  --container-width-xl: 87.5rem;
}
